#metric_SER-L-slider, #metric_SER-HIS-slider, #metric_HIS-ASP-slider, 
#metric_SER-L-output, #metric_SER-HIS-output, #metric_HIS-ASP-output, 
#metric_SER-L-label, #metric_SER-HIS-label, #metric_HIS-ASP-label, #metricSelector{
  display: none;
}

/* #metric_SER-L-slider, #metric_SER-HIS-slider, #metric_HIS-ASP-slider {
  display: inline-block;
}

#metric_SER-L-output, #metric_SER-HIS-output, #metric_HIS-ASP-output {
  display: inline-block;
  margin-left: 10px;
} */

#pelePlot{
  /* width:600px;
  height:250px; */
  width: 100%;
  height: 100%;
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: none;
    margin:15px auto;
    position: relative;
    background: yellow;
    box-shadow: -24px 0 yellow, 24px 0 yellow;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }
  
  @keyframes shadowPulse {
    33% {
      background: yellow;
      box-shadow: -24px 0 #FF3D00, 24px 0 yellow;
    }
    66% {
      background: #FF3D00;
      box-shadow: -24px 0 yellow, 24px 0 yellow;
    }
    100% {
      background: yellow;
      box-shadow: -24px 0 yellow, 24px 0 #FF3D00;
    }
  }